
.logo {
    width: 88%;
    height: 150px;
    max-height: 200px !important;
    object-fit: cover;
    overflow: hidden;
    object-position: center center;

    border-radius: 8px;
    margin-top: 9px;
    margin-bottom: 7px;
    
    /* box-shadow: 2px 2px 9px -4px rgba(0,0,0,0.75); */
}

