.gallery_root {
    width: 100%;
}

.gallery_croppedImage {
    width: 100%;
    height: auto;
    max-height: 70vh !important;
    object-fit: cover;
    overflow: hidden;
    object-position: center center;
}

.gallery_croppedImage img {
    max-height: none !important;
}
