@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #091a28;
    color: #ebf4f1;
}

@layer components {
    .card {
        @apply p-3 rounded-md shadow-xl h-full;
    }
}
