
.md_h1 {
    font-size: 1.5em;
}
.md_h2 {
    font-size: 1.4em;
}
.md_h3 {
    font-size: 1.3em;
}
.md_h4 {
    font-size: 1.2em;
}
.md_h5 {
    font-size: 1.1em;
}
.md_h6 {
    font-size: 1.0em;
}


.md_ul {
    list-style: disc;
    margin: 16px;
}
.md_ol {
    list-style: decimal;
    margin: 16px;
}


.md_a {
    color: #63a3e0;
}


.md_blockquote {
    
}
.md_code {
    
}


